:root {
    --color-background: #fff;
    --color-second-background: #FBE9E9;
    --color-red: #FF4433;
    --color-shadow: rgba(90, 90, 90, 0.18);
    --color-font: #000000;
    --color-white: #fff;
    --color-link: #ffffff;
    /*--color-link: #2b1313;*/
    --color-link-hover: #330000;
    /*--color-link-hover: #ffdbdb;*/

    --box-shadow: 0 2rem 3rem var(--color-shadow);
}

body {
    display: grid;
    margin: 0;
    grid-gap: 0;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header_00"
        "main_00"
        "footer_00";
    width: 100vw;
    height: 100vh;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    color: var(--color-font);
    background-color: var(--color-background);
    font-family: Roboto,
        "Helvetica Neue",
        sans-serif;
}

.header-and-menu {
    grid-area: header_00;
    position: sticky;
    z-index: 2;
    top: 0;
}

header {
    align-items: center;
    background-color: var(--color-red);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    transition: all 0.3s ease;
    box-shadow: var(--box-shadow);
    z-index: 2;
    height: 8vh;
    gap: 15rem;
    padding-left: 5vw;
    padding-right: 5vw;

}

header:hover {
    box-shadow: none;
}

.logo {
    height: 100%;
}

.logo a img {
    height: 100%;

    object-fit: contain
}

.logo-and-title {
    margin-left: 5vw;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

#title-name {
    color: var(--color-link);
    font-size: 50px;
    font-weight: 700;
    text-decoration: none;
}

#title-name:hover {
    color: var(--color-link-hover)
}

header nav {
    display: flex;
    justify-content: space-between;
    width: min(50%, 600px);
    padding-right: 5vw;
    height: 100%;
    align-items: center;
}

header nav a {
    color: var(--color-link);
    font-size: 20px;
    font-weight: 700;
    position: relative;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out
}

header nav a:hover {
    color: var(--color-link-hover);
}

#menuButton {
    font-size: 35px;
    color: var(--color-link);
}

main {
    grid-area: main_00;
    /*min-height: calc(100vh - 75px - 105px); /* Adjust as needed */
    width: 100vw;
}

.index-main-container {
    display: grid;
    grid-template-rows: auto 1fr auto auto;

    height: 100%;
}

footer {
    grid-area: footer_00;
    position: relative;
    background-color: var(--color-red);
    background-repeat: no-repeat;
    background-position: center;
    flex-wrap: wrap;
    /* gap: 1.4rem;*/
    align-items: center;
    text-align: center;
    display: flex;
    height: auto;
    justify-content: space-between;
    padding: 1rem;
    /*width: calc(100% - 128px);*/
    /*height: 3vh;*/
    padding-left: 8vw;
    padding-right: 8vw;
}

footer a {
    color: var(--color-link);
    cursor: pointer;
    color: var(--color-link);
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out
}

footer a:hover {
    color: var(--color-link-hover);
}

footer span {
    font-size: 20px;
    font-weight: 700;
    color: var(--color-link);
}

.circle-row {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-top: 40px;

}

.circle-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
}

.main-text-area {
    margin-top: 50px;
    background-color: var(--color-second-background);
    padding: 20px;
    text-align: center;
    padding-left: 15vw;
    padding-right: 15vw;
    display: inline-block;
}

.main-text-area p {
    font-size: 20px;
}


.circle {
    /* (A) SQUARE - EQUAL WIDTH & HEIGHT */
    width: 200px;
    height: 200px;

    /* (B) CIRCLE - 50% RADIUS */
    border-radius: 20%;

    /* (C) COSMETIC - BACKGROUND COLOR */
    background: var(--color-red);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    box-shadow: var(--box-shadow);
}

.circle:hover {
    box-shadow: none;
}

.circle-image {
    height: 150px;
    width: 150px;
}

.circle-image img {
    height: 100%;
    width: 100%;
    object-fit: contain
}

.circle-text {
    margin-top: 20px;
    font-size: 14px;
}


.screenshot_container h1 {
    padding-bottom: 5vh;
    text-align: center;
}

.team-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--color-second-background);

    /*padding-left: 8vw;
    padding-right: 8vw;*/
    margin-top: 8vh;
    padding-bottom: 8vh;
}

.team-container h1 {
    padding-bottom: 5vh;
}

.team-member h4 {
    margin-top: 1.5rem;
    margin-bottom: 0;
    font-size: 1.5rem;
}

.team-member p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.team-member .circle-text {
    margin-top: 0px;
}

.team-row {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around;*/
    gap: 3vw;
    /*padding-left: 8vh;
    padding-right: 8vh;*/
    margin-top: 3vh;
    align-items: center;
    justify-content: center;
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;

}

.team-member p {
    color: #693232
}

.team-member .circle .circle-image{
    height: 175px;
    width: 175px;
}

.team-member .circle .circle-image img{
    border-radius: 20%;
}

.video-container {
    padding-top: 8vh;
    padding: 20px;
    text-align: center;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-bottom: 8vh;
}

.video-container h1 {
    padding-bottom: 5vh;
}

.video {
    position: relative;
    padding-bottom: 56.25%;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#features-main-container {
    display: grid;
    grid-template-rows: fr1 fr3 fr3 fr3 fr3 fr3;
    /* First row takes remaining space */
    grid-template-columns: 3vw 5vw auto;
    height: auto;
    margin-top: 5vh;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-bottom: 3vh;
    grid-template-areas:
        'graph1 branch1 header'
        'graph2 branch2 content1'
        'graph3 branch3 content2'
        'graph4 branch4 content3'
        'graph5 branch5 content4'
        'graph6 branch6 content5';
}

#features-main-container h1 {
    margin-bottom: 3rem;
    margin-top: -1rem;
}

#line {
    margin-left: 2.25vw;
    position: relative;
    background-color: #fff;
    width: 0.25vw;
    height: 100%;
}

#line:before {
    position: absolute;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    box-shadow: 0px 0px 0px 0.25vw #FF4433;
}

.dot {
    grid-area: graph;
    margin-left: 2vw;
    position: relative;
    background-color: #fff;
    border-radius: 50%;
    width: 0.75vw;
    height: 0.75vw;
}

.dot:before {
    position: absolute;
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    box-shadow: 0px 0px 0px 0.25vw #FF4433;
}

.line {
    margin-left: 2.25vw;
    position: relative;
    background-color: #fff;
    width: 0.25vw;
    height: 100%;
}

.line:before {
    position: absolute;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    box-shadow: 0px 0px 0px 0.25vw #FF4433;
}

.line2 {
    margin-left: 0.45vw;
    position: relative;
    background-color: #fff;
    width: 0.25vw;
    height: 3vw;
    transform: rotate(-45deg);
}

.line2:before {
    position: absolute;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    box-shadow: 0px 0px 0px 0.25vw #FF4433;
}

.dot2 {
    margin-left: 1.45vw;
    position: relative;
    background-color: #fff;
    border-radius: 50%;
    width: 0.75vw;
    height: 0.75vw;
    margin-top: 2.4vw;
}

#graphstart {
    grid-area: graph;
    margin-top: -0.375vw;
    margin-left: 2vw;
    position: relative;
    background-color: #fff;
    width: 0.75vw;
    height: 0.75vw;
    transform: rotate(-45deg);
}

#graphstart:before {
    position: absolute;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    box-shadow: 0px 0px 0px 0.25vw #FF4433;
}

.dot2:before {
    position: absolute;
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    box-shadow: 0px 0px 0px 0.25vw #FF4433;
}

.featurescontent {
    margin-top: 1vw;
}

.burger-nav {
    visibility: hidden;
    display: none;
}

.menuHidden {
    /*Classes to hide the menu*/
    display: none;
    visibility: hidden;
    top: 0;
    width: 100%;
    z-index: 2;
}

.menuVisible {
    display: block;
    visibility: visible;
    top: 0;
    z-index: 2;
    width: 100%;
}

ul {
    /*List for menu buttons*/
    list-style-type: none;
    margin: 0;
    padding: 11px 0 11px 0;
    z-index: 2;
    background: rgb(177, 48, 36);
    background: linear-gradient(180deg, rgba(177, 48, 36, 1) 0%, rgba(255, 68, 51, 1) 45%);
}

li {
    /*List items for menu*/
    padding: 0;
    margin: 2px 8px 2px 8px;
    border-radius: 5px;
    z-index: 2;
    border-bottom: solid 0.1rem #ffc7c7;
    border-radius: 0%;
}

li:last-child {
    border-bottom: none;
}

li>a {
    /*Settings for hyperlinks in menu*/
    color: var(--color-link);
    display: block;
    padding: 8px 0;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;    
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  width:100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.slide_dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .slide_dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media all and (max-width: 1100px),
all and (min-width: 501px) and (orientation: Portrait) {
    .nav {
        visibility: hidden;
        display: none;
    }

    .burger-nav {
        display: block;
        visibility: visible;
        margin-right: 3vw;
    }

    footer {
        flex-wrap: wrap;
    }

    .circle-row {
        flex-wrap: wrap;
    }

    .team-row {
        flex-wrap: wrap;
    }

    .logo-and-title {
        margin-left: 1vw;
        gap: 1rem;
    }

    header {
        gap: 5rem;
    }

}

@media all and (max-width: 500px) {
    .nav {
        visibility: hidden;
        display: none;
    }

    .burger-nav {
        display: block;
        visibility: visible;
        margin-right: 3vw;
    }

    footer {
        flex-wrap: wrap;
    }

    .circle-row {
        flex-wrap: wrap;
    }

    .team-row {
        flex-wrap: wrap;
    }

    .logo-and-title {
        margin-left: 1vw;
        gap: 1rem;
    }

    header {
        gap: 1rem;
    }

    body {
        height: auto;
    }

    #line,
    .dot,
    .line,
    .line2,
    .dot2,
    #line:before,
    .dot:before,
    .line:before,
    .line2:before,
    .dot2:before,
    #graphstart,
    #graphstart:before {
        display: none;
    }


}