:root {
    --color-background: #fff;
    --color-second-background: #FBE9E9;
    --color-red: #FF4433;
    --color-shadow: rgba(90, 90, 90, 0.18);
    --color-font: #000000;
    --color-white: #fff;
    --color-link: #2b1313;
    --color-link-hover: #ffdbdb;

    --box-shadow: 0 2rem 3rem var(--color-shadow);
}

body {
    display: grid;
    margin: 0;
    grid-gap: 0;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header_00"
        "main_00"
        "footer_00";
    width: 100vw;
    height: 100vh;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    color: var(--color-font);
    background-color: var(--color-background);
    font-family: Roboto,
        "Helvetica Neue",
        sans-serif;
}

header {
    grid-area: header_00;
    align-items: center;
    background-color: var(--color-red);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top: 0;
    transition: all 0.3s ease;
    box-shadow: var(--box-shadow);
    z-index: 2;
    height: 8vh;
    gap: 15rem;
    padding-left: 5vw;
    padding-right: 5vw;

}

header:hover {
    box-shadow: none;
}

.logo {
    height: 100%;
}

.logo a img {
    height: 100%;

    object-fit: contain
}

.logo-and-title {
    margin-left: 5vw;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

#title-name {
    color: var(--text_sec);
    font-size: 50px;
    font-weight: 700;
    /* position: relative;*/
    text-decoration: none;
}

/*.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
    --bs-nav-link-disabled-color: #798490;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}*/

header nav {
    display: flex;
    justify-content: space-between;
    width: min(50%, 600px);
    padding-right: 5vw;
    height: 100%;
    align-items: center;
}

header nav a {
    color: var(--color-link);
    font-size: 20px;
    font-weight: 700;
    position: relative;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out
}

header nav a:hover {
    color: var(--color-link-hover);
}

main {
    grid-area: main_00;
}

.index-main-container {
    display: grid;
    grid-template-rows: auto 1fr;

    height: 100%;
}

footer {
    grid-area: footer_00;
    position: relative;
    background-color: var(--color-red);
    background-repeat: no-repeat;
    background-position: center;
    flex-wrap: wrap;
    gap: 1.4rem;
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: space-between;
    padding: 0 64px;
    /*width: calc(100% - 128px);*/
    height: 5vh;
    padding-left: 8vw;
    padding-right: 8vw;
}

footer a {
    color: var(--color-link);
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out
}

footer a:hover {
    color: var(--color-link-hover);
}

.circle-row {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-top: 40px;

}

.circle-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-text-area {
    margin-top: 50px;
    background-color: var(--color-second-background);
    padding: 20px;
    text-align: center;
    padding-left: 8vw;
    padding-right: 8vw;
}


.circle {
    /* (A) SQUARE - EQUAL WIDTH & HEIGHT */
    width: 200px;
    height: 200px;

    /* (B) CIRCLE - 50% RADIUS */
    border-radius: 50%;

    /* (C) COSMETIC - BACKGROUND COLOR */
    background: var(--color-red);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    box-shadow: var(--box-shadow);
}

.circle:hover {
    box-shadow: none;
}

.circle-image {
    height: 150px;
    width: 150px;
}

.circle-image img {
    height: 100%;
    width: 100%;
    object-fit: contain
}

.circle-text {
    margin-top: 20px;
    font-size: 14px;
}

#features-main-container {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    /* First row takes remaining space */
    grid-template-columns: 3vw 5vw auto 7vw;
    height: 100%;
    padding-left: 8vw;
    padding-right: 8vw;
    grid-template-areas:
        'graph1 branch1 header pad'
        'graph2 branch2 content1 pad'
        'graph3 branch3 content2 pad'
        'graph4 branch4 content3 pad'
        'graph5 branch5 content4 pad'
        'graph6 branch6 content5 pad';
}

.dot {
    grid-area: graph;
    margin-left: 2vw;
    position: relative;
    background-color: #fff;
    border-radius: 50%;
    width: 0.75vw;
    height: 0.75vw;
}

.dot:before {
    position: absolute;
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    box-shadow: 0px 0px 0px 0.25vw #FF4433;
}

.line {
    margin-left: 2.25vw;
    position: relative;
    background-color: #fff;
    width: 0.25vw;
    height: 100%;
}

.line:before {
    position: absolute;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    box-shadow: 0px 0px 0px 0.25vw #FF4433;
}

.line2 {
    margin-left: 0.45vw;
    position: relative;
    background-color: #fff;
    width: 0.25vw;
    height: 3vw;
    transform: rotate(-45deg);
}

.line2:before {
    position: absolute;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    box-shadow: 0px 0px 0px 0.25vw #FF4433;
}

.dot2 {
    margin-left: 1.45vw;
    position: relative;
    background-color: #fff;
    border-radius: 50%;
    width: 0.75vw;
    height: 0.75vw;
    margin-top: 2.4vw;
}

.dot2:before {
    position: absolute;
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    box-shadow: 0px 0px 0px 0.25vw #FF4433;
}

.featurescontent {
    margin-top: 1vw;
}

.burger-nav {
    visibility: hidden;
    display: none;
}

@media all and (max-width: 1100px) and (orientation: Portrait),all and (min-width: 993px) and (orientation: Portrait) {
    .nav {
        visibility: hidden;
    }

    .burger-nav {
        display: block;
        visibility: visible;
    }

    footer { 
        flex-wrap: wrap;  
    }

    .circle-row{
        flex-wrap: wrap;
    }

}

@media all and (max-width: 992px) and (orientation: Portrait) {
    .nav {
        visibility: hidden;
    }

    .burger-nav {
        display: block;
        visibility: visible;
    }

    footer { 
        flex-wrap: wrap;  
    }

    .circle-row{
        flex-wrap: wrap;
    }
    

}